<!DOCTYPE html>
<html lang="en-US" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <title>Forgot-password | Bepop - Music Web Application</title>
        <meta name="description" content="Responsive, Bootstrap, BS4" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <!-- style -->
        <!-- build:css ../assets/css/site.min.css -->
        <link rel="stylesheet" href="../libs/slick-carousel/slick/slick.css" type="text/css" />
        <link rel="stylesheet" href="../libs/slick-carousel/slick/slick-theme.css" type="text/css" />
        <link rel="stylesheet" href="../assets/css/bootstrap.css" type="text/css" />
        <link rel="stylesheet" href="../assets/css/theme.css" type="text/css" />
        <link rel="stylesheet" href="../assets/css/style.css" type="text/css" />
        <!-- endbuild -->
    </head>
    <body class="layout-row bg-dark">
        <div class="d-flex flex-column flex">
            <div class="row no-gutters h-100">
                <div class="col-md-6 bg-dark bg-img" style="background-image:url(../assets/img/nb5.jpg)">
                    <div class="p-3 p-md-5 d-flex flex-column h-100">
                        <h4 class="mb-3 text-white">SleepHub</h4>
                        <div class="text-fade">Sleep well with music</div>
                        <div class="d-flex flex align-items-center justify-content-center">
                        </div>
                        <div class="d-flex text-sm text-fade">
                                <a href="" class="text-white"></a>
                                <span class="flex"></span>
                                <a href="genres.html" class="text-white mx-1">尋找</a>
                                <a href="#" class="text-white mx-1">音樂推薦</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" id="content-body">
                    <div class="p-3 p-md-5">
                        <div>
                            <h5>忘記密碼了嗎？</h5>
                            <p class="text-muted my-3">
                                在下面輸入您的電子郵件，我們將向您發送有關如何更改密碼的說明。
                            </p>
                        </div>
                        <form name="reset" class="py-5 my-md-5">
                            <div class="form-group">
                                <input type="email" placeholder="請輸入信箱" class="form-control" required>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">送出</button>
                        </form>
                        <div class="pt-1">
                            Return to
                            <a href="signin.html" class="text-primary font-weight-bold">登入</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- build:js ../assets/js/site.min.js -->
        <!-- jQuery -->
        <script src="../libs/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="../libs/popper.js/dist/umd/popper.min.js"></script>
        <script src="../libs/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- ajax page -->
        <script src="../libs/pjax/pjax.min.js"></script>
        <script src="../assets/js/ajax.js"></script>
        <!-- lazyload plugin -->
        <script src="../assets/js/lazyload.config.js"></script>
        <script src="../assets/js/lazyload.js"></script>
        <script src="../assets/js/plugin.js"></script>
        <!-- scrollreveal -->
        <script src="../libs/scrollreveal/dist/scrollreveal.min.js"></script>
        <script src="../libs/slick-carousel/slick/slick.min.js"></script>
        <!-- feather icons -->
        <script src="../libs/feather-icons/dist/feather.min.js"></script>
        <!-- theme -->
        <script src="../assets/js/theme.js"></script>
        <!-- endbuild -->
    </body>
</html>